
/* Style for the dropdown content */
/* Style for the Projects tab */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style for the Projects tab button */
  .dropdown .dropbtn {
    font-size: inherit;
    border: none;
    outline: none;
    color: #ffffff;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #0072C6;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #79d0f5;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #386495;
    color: white;
  }
  
  .navbar {
    background-color: #00528c;
    border-bottom: 2px solid #333333;
  }

  .navbar-default{
    margin-left: 0;
    margin-right: 0;
  }
  
  /*Set the color of the links of the navbar */
  .navbar-default .navbar-nav > li > a,
  .navbar-default .navbar-nav > li > a:focus {
      color: #FFFFFF; /* white color */
  }
  
  .navbar-default .navbar-brand {
      color: #FFFFFF; /* white color */
  }

  /*Set the color of the links of the navbar, when hovered */
  .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > li > a:focus:hover {
      color: #192d43; /* white color */
  }
  
  .navbar-default .navbar-brand:hover {
      color: #192d43; /* white color */
  }


  
  
  